@media screen and (max-width:1270px){
    .catalog {
     width: 100%;
     padding: 40px;


     & .tittle-wrapper-catalog {

         padding-top: 20px;
         margin-bottom: 20px;

         & h3 {
             font-size: 25px;
             font-weight: 200px;
             color: rgba(0, 0, 0, 0.809);
         }

         & p {
             font-size: 25px;
             font-weight: 200px;
             color: rgba(0, 0, 0, 0.809);
         }
     }

    
     & .card-wrapper {
         max-width: 1000px;
         height: 100%;
         display: grid;
         grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
         grid-gap: 30px;
         padding-top: 50px;
         margin: 0 auto;

         & .card-item {
             height: 400px;
             background-color: var(--secundary-text);
             border-radius: 8px;
             display: flex;
             flex-direction: column;
             align-items: center;
             justify-content: space-around;
             margin-left: 30px;

             & img {
                 width: 220px;
                 height: 250px;
                 margin-top: 10px;
                 border-radius: 8px;
                 box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
             }
 
         }
     }
 }

 .about{
    width: 60%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30px;

    & h1{
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 20px;
    }

    & details{
        margin-bottom: 20px;
        & summary{
            font-size: 20px;
            font-weight: 200;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
            transition: .3s;
            background-color: var(--secundary-text);
        }

        & summary:hover{
            background-color: var(--details-hover);
            color: var(--primary-text);
            transform: scale(1.1);
        }

        & ul{

            & li{
                font-size: 18px;
                font-weight: 200;
                padding: 10px;
                border-radius: 10px;
                cursor: pointer;
                transition: .3s;
                background-color: var(--secundary-text);
                list-style: none;

            }
        }
    }
}
}