@media screen and (max-width: 1200px) {

    header .menu-desktop,
    header .btn-contact {
        display: none;
    }
}

/* Inicio da Logo Responsiva */
@media screen and (max-width: 1100px) {
    header .logo img {
        max-width: 150px;
    }
}

/* Fim da Logo Responsiva */

/* Inicio do Hero Responsivo */
@media screen and (max-width:1270px) {

    /* Fim do Hero Responsivo */
    .hero-site {

        & .interface {
            display: flex;
            align-items: center;
            height: 100%;

            & .txt-hero {
                & h1 {
                    font-size: 2.5em;
                    font-weight: 200;
                    line-height: 50px;
                }

                & p {
                    font-size: 20px;
                    font-weight: 300;
                    margin: 20px 0;

                    & span {
                        display: block;
                    }

                }

                & a {

                    & button {
                        width: 220px;
                        height: 60px;
                        font-size: 20px;
                        background-color: transparent;
                        border: 1px solid var(--primary-color);
                        color: var(--primary-text);
                        cursor: pointer;
                        border-radius: 16px;
                        transition: .3s;
                    }

                    & button:hover {
                        background-color: var(--details-hover);
                        color: var(--primary-text);
                        transition: .3s;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    /* Fim do Hero Responsivo */

    /* Inicio do Contato Responsivo */
    .contact {
        & .txt-contact {
            display: block;
            width: 100%;

            & h3 {
                font-size: 2.0em;
                line-height: 40px;
            }
        }

        & .icons-contact {
            display: block;
            width: 100%;
            & button {
                width: 100%;
                & i {
                    font-size: 2em;
                    margin-right: 10px;
                    color: var(--fundo-principal);
                }

                & p {
                    font-size: 20px;
                    
                }
            }
        }
    }
    /* Fim do Contato Responsivo */

    /* Inicio do TestDrive Responsivo */
    .testdrive{

        & h3{
            font-size: 2em;
            font-weight: 300;
            line-height: 40px;
        }
    }
    /* Fim do TestDrive Responsivo */
}